@import "../../../../styles/themes/variables.scss";

.homePage {
  .slidesPart {
    text-align: center;

    .slideContainer {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;

      .swiper {
        width: 70%;
        box-shadow: 0px 0px 40px 5px $azul-base;
        height: 60vh;
        overflow: hidden;
        border-radius: 15px;
        background-color: $azul-cobalto;

        a {
          width: 100%;
          height: 100%;
        }

        .swiper-pagination-bullet {
          background-color: $azul-palido;
          width: 12px;
          height: 12px;
          opacity: 0.6;
          transition: opacity 0.3s ease;

          &-active {
            background-color: $azul-base;
            opacity: 1;
          }
        }

        /* Estiliza os botões de navegação */
        .swiper-button-next,
        .swiper-button-prev {
          padding: 3%;
          color: $azul-cobalto;

          transition: color 0.3s ease;
          &:hover {
            color: $azul-palido;
          }
        }
      }
      /* Estilo para os slides */
      .swiper-slide {
        background-color: $azul-cobalto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: ease 0.5s;
        h2 {
          color: white;
          display: block;
          height: 15%;
        }
        .slide-item {
          width: 100%;
          height: 85%;
          object-fit: cover;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
        &:hover {
          transition: ease-in 0.5s;
          transform: scale(1.02);
        }
      }
    }
    @media screen and (max-width: 768px) {
      .slideContainer {
        .swiper {
          width: 95%;
          height: 70vh;
          h2 {
            font-size: 60%;
          }
          .swiper-pagination {
            margin-bottom: -1%;
          }
          .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      .slideContainer {
        .swiper {
          width: 95%;
          height: 25vh;
          h2 {
            font-size: 70%;
          }
          .swiper-pagination-bullet {
            width: 4px;
            height: 4px;
            margin-bottom: -2%;
          }
        }
      }
    }

    @media screen and (max-width: 320px) {
      .slideContainer {
        .swiper {
          height: 30vh;
          h2 {
            font-size: 60%;
          }
          .swiper-pagination-bullet {
            width: 4px;
            height: 4px;
            margin-bottom: -3%;
          }
        }
      }
    }
  }
}
