@use "@/styles/themes/variables.scss";

header {
  .logo {
    width: 10em;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: start;
    align-self: start;
    margin-left: 3%;
    margin-top: 4%;
    @media screen and (max-width: 768px) {
      grid-row: 1/2;
      grid-column: 1/3;
      justify-self: center;
    }
    img {
      width: 100%;
      padding: 0;
    }
    img:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}
