header {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 1%;

    img {
      padding: 0;
      width: 40%;
    }
    img:hover {
      cursor: pointer;
    }
  }
}
