@use "@/styles/themes/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-5%);
  }
}

header {
  .navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: start;
    @media screen and (max-width: 768px) {
      grid-row: 3/4;
      grid-column: 1/3;
    }
    @media screen and (max-width: 480px) {
      margin: 0;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      li {
        margin: 0 1%;
      }
    }

    .button {
      display: flex;
      font-weight: bolder;
      position: relative;
      user-select: none;
      background-color: transparent;
      color: white;
      border-radius: 5px;
      padding: 5px;
      align-items: center;
      transition: background-color ease-in-out 0.3s;
      white-space: nowrap;
      &:hover {
        transition: background-color ease 0.3s;
        cursor: pointer;
        background-color: variables.$azul-royal;
        color: white;
      }
      @media screen and (max-width: 1024px) {
        font-size: 70%;
      }

      @media screen and (max-width: 768px) {
        font-size: 65%;
      }
      @media screen and (max-width: 480px) {
        font-size: 60%;
      }
    }

    .active {
      background-color: variables.$azul-royal;
    }

    .liCategory {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;

      .categoryMenu {
        white-space: nowrap;
        margin-top: 4.7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 10px;
        color: white;
        background-color: variables.$azul-royal;
        padding: 1% 2%;
        z-index: 2;
        border-top: 0;
        box-shadow: 0px 0px 40px 5px variables.$azul-base;

        .categoryButton {
          display: block;
          width: 100%;
          text-align: center;
          transition: scale ease 0.1s;
          &:hover {
            scale: (1.05);
            background-color: variables.$azul-base;
          }
        }

        .categoryButton + .categoryButton {
          margin-top: 5%;
        }
      }

      .categoryMenuClosed {
        visibility: hidden;
        animation: fadeOut 0.5s forwards;
      }

      .categoryMenuOpened {
        visibility: visible;
        animation: fadeIn 0.5s forwards;
      }
    }
  }
}
