@use "@/styles/themes/variables.scss";
.recipePage {
  justify-content: center;
  padding-bottom: 2em;

  .recipeMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 0 2%;
    height: 1vh;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      color: white;
      background-color: variables.$azul-royal;
      border-radius: 50%;
      border: none;
      transition: box-shadow 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 3px variables.$azul-royal;
      }
    }
  }
  ul {
    padding: 0.5%;
    border-left: 1px solid variables.$azul-escuro;
  }
  section {
    margin: 0% 20% 2% 20%;
    margin-bottom: 4%;
    border-bottom: variables.$azul-escuro 1px solid;
    padding: 2% 0 2% 0;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-transform: uppercase;
  }
  h3,
  p,
  ul {
    margin-left: 3%;
  }
  a {
    color: black;
    &:hover {
      text-decoration: underline variables.$azul-escuro 1px solid;
      color: variables.$azul-escuro;
    }
  }
  .video {
    position: relative;
    width: 65%;
    margin: 0 auto;
    iframe {
      aspect-ratio: 16/9;
      width: 100%;
      height: 100%;
      border: variables.$azul-base solid 2x;
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    }
  }
  @media screen and (max-width: 768px) {
    .recipeMenu {
      margin-bottom: 5%;
      button {
        padding: 2%;
      }
    }
    .video {
      width: 100%;
      margin-bottom: 5%;
    }
  }
}
